/*
#02520f
#666
#fff
#000
#999

font-family: 'Montserrat', sans-serif;
*/

header{
    height: 15vh;
    font-size: xx-large;
}

main{
    height: 75vh;
}

footer{
    height: 10vh;
}

.group-footer{
    width: 20%;
}

table{
    border-collapse: collapse;
    width: 80%;
    margin: 20px;
}

.ranking{
    background-color: #666;
    width: 10%;
    font-size: x-large;
    font-weight: 800;
}

.pontos{
    font-size: x-large;
    width: 15%;
}

.img-circle{
    width: 50px;
    height: 50px;
}

.time{
    font-size: xx-large;
}

.time img{
    height: 40px;
}